form {
    display: inline;
}
.app{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:  72em;
}
.app-buttons{
    margin-top: 20px;
}
.app-search{
    margin-left: 2px
}
.open{
    margin-top: 60px
}